.particles-layout {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    position: relative;
}

.box-layout__box {
    background: none;
    border-radius: 3px;
    font-size: $font-size-large;
    padding: $l-size $m-size;
    text-align: center;
    width: 25rem;

    position: absolute;
    z-index: 10;
    // Calculated these 2 values, by multiplying each by .05, then subtracting that from 50
    top: 38%;
    left: 40%;
}

.box-layout__title {
    margin: 0 0 $m-size 0;
    line-height: 1;
}

