.entry-item {
    border: 2px solid darken($off-white, 7%);
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    padding: $s-size;
    text-decoration: none;
    margin: $s-size 0 $m-size 0;
    word-break: normal;
    transition: background .3 ease;
    // equivalent to: .list-item:hover {}
    &:hover {
        background: $off-white;
    }
    // Targets desktops and larger screens
    @media (min-width: $desktop-breakpoint) {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: $s-size;
        margin: 0 auto $s-size auto;
        padding-left: $s-size;
        width: 50%;
    }
}

// --something <-- called a modifier
.entry-item--message {
    align-items: center;
    border: none;
    color: $grey;
    justify-content: center;
    padding: $m-size;
    &:hover {
        background: none;
    }
}
